flow/TTN_Gateway_Radius.json
[
    {
        "id": "639e38bd.df8b18",
        "type": "tab",
        "label": "TTN Gateway Radius",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a06078a2.7f51a8",
        "type": "http request",
        "z": "639e38bd.df8b18",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 610,
        "y": 560,
        "wires": [
            [
                "ee48386b.ef30a8"
            ]
        ]
    },
    {
        "id": "7bc69170.f59ae",
        "type": "debug",
        "z": "639e38bd.df8b18",
        "name": "Raduis gateway",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 960,
        "y": 620,
        "wires": []
    },
    {
        "id": "ee48386b.ef30a8",
        "type": "json",
        "z": "639e38bd.df8b18",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 790,
        "y": 560,
        "wires": [
            [
                "6f7ad1f6.78e95"
            ]
        ]
    },
    {
        "id": "6f7ad1f6.78e95",
        "type": "split",
        "z": "639e38bd.df8b18",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 930,
        "y": 560,
        "wires": [
            [
                "7bc69170.f59ae",
                "ae593624.af6038"
            ]
        ]
    },
    {
        "id": "b484ba6b.b7a228",
        "type": "ui_text_input",
        "z": "639e38bd.df8b18",
        "name": "",
        "label": "Latitude dec",
        "tooltip": "",
        "group": "829a976f.0871c8",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 180,
        "wires": [
            [
                "b1d56a6a.2e1498"
            ]
        ]
    },
    {
        "id": "7d68e34d.b0611c",
        "type": "ui_text_input",
        "z": "639e38bd.df8b18",
        "name": "",
        "label": "Longitude dec",
        "tooltip": "",
        "group": "829a976f.0871c8",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "1f3d47d6.aa9fc8"
            ]
        ]
    },
    {
        "id": "c1366411.f37d48",
        "type": "ui_text_input",
        "z": "639e38bd.df8b18",
        "name": "",
        "label": "Distance KM",
        "tooltip": "",
        "group": "f1408aea.5db028",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 1360,
        "wires": [
            [
                "ec47cccd.ff28f",
                "c73f03ce.bb2ee"
            ]
        ]
    },
    {
        "id": "440cb9f1.60b4a8",
        "type": "ui_button",
        "z": "639e38bd.df8b18",
        "name": "",
        "group": "829a976f.0871c8",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "get",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "da68c5e3.9a3d48",
                "ef02f88e.565438"
            ]
        ]
    },
    {
        "id": "b1d56a6a.2e1498",
        "type": "change",
        "z": "639e38bd.df8b18",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "lat",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1f3d47d6.aa9fc8",
        "type": "change",
        "z": "639e38bd.df8b18",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "lon",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "8c8efa45.407218",
        "type": "change",
        "z": "639e38bd.df8b18",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "nodeDist",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1360,
        "wires": [
            [
                "8bbc4a71.bc6a48"
            ]
        ]
    },
    {
        "id": "7a265fd3.b1311",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "",
        "func": "let  lat = flow.get('lat');\nlet lon = flow.get('lon');\nlet dist = flow.get('dist')\n\n\nmsg.url = \"https://mapper.packetbroker.net/api/v2/gateways?distanceWithin%5Blatitude%5D=\" + lat + \"&distanceWithin%5Blongitude%5D=\" + lon + \"&distanceWithin%5Bdistance%5D=\" + dist + \"&netID=000013&tenantID=ttn\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 560,
        "wires": [
            [
                "a06078a2.7f51a8"
            ]
        ]
    },
    {
        "id": "5ce04955.344ec8",
        "type": "worldmap",
        "z": "639e38bd.df8b18",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmapTtn",
        "x": 2710,
        "y": 620,
        "wires": []
    },
    {
        "id": "22eecc09.2ea524",
        "type": "http request",
        "z": "639e38bd.df8b18",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1250,
        "y": 560,
        "wires": [
            [
                "b1aae380.a3b27"
            ]
        ]
    },
    {
        "id": "cafc296a.1a2a48",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "Map point for Gaetway",
        "func": "let id = msg.payload.id;\nlet lat = msg.payload.location.latitude;\nlet lon = msg.payload.location.longitude\nlet rxRate = msg.payload.rxRate;\nlet txRate = msg.payload.txRate;\nlet online = msg.payload.online;\nlet eui = msg.payload.eui;\n\nlat = Math.round(lat * 1000000)/1000000;\nlon = Math.round(lon * 1000000)/1000000;\n\nif (online == true) {\n    color = \"#0000ff\";\n}else{\n    color = \"#ff0000\";\n}\n\n\nmsg.payload = { \"name\":id, \"eui\":eui, \"latitude\":lat, \"longitude\":lon, \"rxRate\":rxRate, \"txRate\":txRate, \"online\":online, \"iconColor\":color, \"updatedAt\": msg.payload.updatedAt,  \"layer\": \"gateway\" }\n\n\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 620,
        "wires": [
            [
                "5ce04955.344ec8",
                "fb461826.adccd8",
                "add42114.19928"
            ]
        ]
    },
    {
        "id": "fb461826.adccd8",
        "type": "debug",
        "z": "639e38bd.df8b18",
        "name": "To Map",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1880,
        "y": 720,
        "wires": []
    },
    {
        "id": "d7ac1bcc.54b8a8",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "",
        "func": "msg.payload = msg.payload * 1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1360,
        "wires": [
            [
                "8c8efa45.407218"
            ]
        ]
    },
    {
        "id": "ae593624.af6038",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "",
        "func": "let id = msg.payload.id;\n\n\nmsg.url = \"https://mapper.packetbroker.net/api/v2/gateways/netID=000013,tenantID=ttn,id=\" + id +\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 560,
        "wires": [
            [
                "22eecc09.2ea524"
            ]
        ]
    },
    {
        "id": "b1aae380.a3b27",
        "type": "json",
        "z": "639e38bd.df8b18",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1390,
        "y": 560,
        "wires": [
            [
                "cafc296a.1a2a48",
                "6188f9a8.0876c8",
                "b9fe33af.0a898"
            ]
        ]
    },
    {
        "id": "25222876.7ec1d8",
        "type": "inject",
        "z": "639e38bd.df8b18",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "52.3676",
        "payloadType": "num",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "b484ba6b.b7a228"
            ]
        ]
    },
    {
        "id": "86a2b624.cdcc78",
        "type": "inject",
        "z": "639e38bd.df8b18",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "4.9041",
        "payloadType": "num",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "7d68e34d.b0611c"
            ]
        ]
    },
    {
        "id": "d28530e2.39797",
        "type": "inject",
        "z": "639e38bd.df8b18",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 230,
        "y": 1360,
        "wires": [
            [
                "c1366411.f37d48"
            ]
        ]
    },
    {
        "id": "68ca3a7a.7262f4",
        "type": "comment",
        "z": "639e38bd.df8b18",
        "name": "Get all gateways in raduis",
        "info": "",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "e2a790b1.eee69",
        "type": "comment",
        "z": "639e38bd.df8b18",
        "name": "Get gateways data",
        "info": "",
        "x": 1190,
        "y": 520,
        "wires": []
    },
    {
        "id": "6f7bfdca.bca814",
        "type": "comment",
        "z": "639e38bd.df8b18",
        "name": "Set Dashboard color up",
        "info": "Also need to set under dashboard theme the following:\n\nBase theme:\nNode-RED theme-everywhere\nstyle: dark\nbase color: rgb(5 62 168)",
        "x": 1200,
        "y": 180,
        "wires": []
    },
    {
        "id": "dd47a2a1.59cab",
        "type": "comment",
        "z": "639e38bd.df8b18",
        "name": "Format for map",
        "info": "",
        "x": 1660,
        "y": 500,
        "wires": []
    },
    {
        "id": "6188f9a8.0876c8",
        "type": "debug",
        "z": "639e38bd.df8b18",
        "name": "Gateway Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1300,
        "y": 620,
        "wires": []
    },
    {
        "id": "c8bbb2e9.20b37",
        "type": "ui_worldmap",
        "z": "639e38bd.df8b18",
        "group": "98369fc.752c86",
        "order": 1,
        "width": "20",
        "height": 14,
        "name": "",
        "lat": "52.3676",
        "lon": "4.9041",
        "zoom": "10",
        "layer": "Esri Topography",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "show",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmapTtn",
        "x": 2710,
        "y": 680,
        "wires": []
    },
    {
        "id": "cba718c5.5c6728",
        "type": "inject",
        "z": "639e38bd.df8b18",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "360",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 560,
        "wires": [
            [
                "7a265fd3.b1311"
            ]
        ]
    },
    {
        "id": "30721c67.acfdc4",
        "type": "ui_table",
        "z": "639e38bd.df8b18",
        "group": "258ccba7.6eda14",
        "name": "Online",
        "order": 1,
        "width": "16",
        "height": "6",
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 2410,
        "y": 360,
        "wires": [
            [
                "dfedc58f.ea09c8",
                "65bd2ae8.d84a74"
            ]
        ]
    },
    {
        "id": "5eee5b4b.1755b4",
        "type": "join",
        "z": "639e38bd.df8b18",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "3",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2270,
        "y": 360,
        "wires": [
            [
                "30721c67.acfdc4"
            ]
        ]
    },
    {
        "id": "b9fe33af.0a898",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "API - Create table",
        "func": "let id = msg.payload.id\nlet lat = msg.payload.location.latitude\nlet lon = msg.payload.location.longitude\nlet rxRate = msg.payload.rxRate\nlet txRate = msg.payload.txRate\nlet online = msg.payload.online\nlet eui = msg.payload.eui\nlet updatedAt = msg.payload.updatedAt\n\nlat = Math.round(lat * 1000000)/1000000;\nlon = Math.round(lon * 1000000)/1000000;\n\nif (!rxRate) rxRate = 0\n\nif(typeof txRate === \"undefined\"){\n    txRate = 0\n}\n\nmsg.payload = { \"name\":id, \"eui\":eui, \"latitude\":lat, \"longitude\":lon, \"rxRate\":rxRate, \"txRate\":txRate, \"updatedAt\":updatedAt, \"online\":online}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 380,
        "wires": [
            [
                "84832d41.8dac7"
            ]
        ]
    },
    {
        "id": "cee66c54.1e07b",
        "type": "comment",
        "z": "639e38bd.df8b18",
        "name": "Gateway data to table",
        "info": "",
        "x": 1680,
        "y": 340,
        "wires": []
    },
    {
        "id": "a26d0dab.4866c",
        "type": "ui_template",
        "z": "639e38bd.df8b18",
        "group": "cb67b9a1.c42a18",
        "name": "Clock & Stylesheet",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>\n\n<style>\n/*\nIt is reasnoble to declare the colors as CSS variables\nso they can be easily called by name where needed.\n\nYou can see that in many places the variables are not used. Change it!\n*/\n\n:root {\n  --color-green-primary: rgb(51, 204, 51);\n  --color-green-secondary: rgb(26, 101, 26);\n  --color-red-primary: rgb(255, 0, 0);\n  --color-red-secondary: rgba(153,0,0,1);\n  --color-gray-primary:rgba(40,40,40,1);\n  --color-gray-secondary:rgba(65,65,65,1);\n  --color-blue-primary:rgb(45, 97, 186,);\n  --color-blue- secondary:rgba(2,0,36,1);\n  --color-text-primary: rgb(128, 128, 128);\n  //--color-text-primary: rgb(230, 226, 209);\n  --color-widget-border: rgb(84, 78, 78);\n}\n\n\n/*\nAll CSS adjustments are commented out.\nTurn rules on one by one and see the changes.\nDon't use too many elements cos it wil be confusing\nStart with simple elements like text, slider or button\n\nMany of elements like buttons have states, \nthose rules must be found and adjusted also.\n*/\n\nbody.nr-dashboard-theme {\n    background: radial-gradient(circle, rgb(45 97 186) 0%, rgb(16 16 146) 40%, rgba(2,0,36,1) 100%);\n}\n\n\n.masonry-container {\n    position: relative;\n    width: 100%;\n    height:100%;\n    margin: 0 auto;\n    background: rgb(255,0,0);\n    background: linear-gradient(180deg,  var(--color-blue-primary) 100%, var(--color-gray-secondary) 100%);\n}\n\n\n.nr-dashboard-cardcontainer {\n    position: relative;\n    box-shadow: inset 0px 1px 4px 0px #000000bb;\n    border-radius: 15px;\n}\n\n\n.nr-dashboard-theme ui-card-panel {\n    background-color:  #33333300;\n    color:var(color-blue-primary);\n    border-radius: 15px;\n    box-shadow: 0 0 8px 0px #00000080;\n}\n\n\nbody.nr-dashboard-theme md-content md-card {\n    background-color:  #33333300;\n    color: var(color-blue-primary);\n    text-shadow: 4px 2px 4px #00000045;\n    box-shadow: 0 -1px 5px 1px #00000045;\n    border-radius: 12px;\n    border: 1px solid var(--color-widget-border);\n}\n\n\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: var(--color-blue-primary);\n}\n\n\n.md-button {\n    display: inline-block;\n    position: relative;\n    cursor: pointer;\n    min-height: 36px;\n    min-width: 88px;\n    line-height: 36px;\n    vertical-align: middle;\n    align-items: center;\n    text-align: center;\n    border-radius: 12px;\n    box-sizing: border-box;\n    -webkit-user-select: none;\n    -moz-user-select: none;\n    -ms-user-select: none;\n    user-select: none;\n    outline: none;\n    border: 0;\n    padding: 0 6px;\n    margin: 6px 8px;\n    background: transparent;\n    color:var(--color-blue-primary);\n    white-space: nowrap;\n    text-transform: uppercase;\n    font-weight: 500;\n    font-size: 14px;\n    font-style: inherit;\n    font-variant: inherit;\n    font-family: inherit;\n    text-decoration: none;\n    overflow: hidden;\n    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);\n}\n\n\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: #88888800;\n    color:var(--color-blue-primary);\n}\n\n\n.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #88888855;\n}\n\n\nmd-slider .md-thumb {\n    z-index: 1;\n    position: absolute;\n    left: -10px;\n    top: 14px;\n    width: 20px;\n    height: 20px;\n    border-radius: 20px;\n    -webkit-transform: scale(.7);\n    transform: scale(.7);\n    transition: all .4s cubic-bezier(.25,.8,.25,1);\n    box-shadow: 0 0 6px #00000070;\n}\n\n\n/*\nAdvanced stuff - dynamic change of card CSS\n\nClasses here can be used to make colored stripe at the top of card\nUsage is not in here, but they are added to md-card when needed within another template\n\n\n.carderr {\n    background: rgb(255,0,0);\n    background: linear-gradient(180deg, var(--color-red-primary) 0px, var(--color-red-secondary) 3px, rgba(80,80,80,1) 4px, rgba(45,45,45,1) 100%);\n}\n\n\n.cardok {\n    background: rgb(39,255,0);\n    background: linear-gradient(180deg, var(--color-green-primary) 0px, var(--color-green-secondary) 3px, rgba(70,70,70,1) 4px, rgba(40,40,40,1) 100%);\n}\n*/\n</style>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "x": 1190,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "865a8dd6.1d59f",
        "type": "comment",
        "z": "639e38bd.df8b18",
        "name": "Set Dashboard to get gateways - Gateway within Radius",
        "info": "",
        "x": 340,
        "y": 100,
        "wires": []
    },
    {
        "id": "add42114.19928",
        "type": "join",
        "z": "639e38bd.df8b18",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1870,
        "y": 660,
        "wires": [
            [
                "a9c198d3.6a4d48"
            ]
        ]
    },
    {
        "id": "6d9fde8c.b52f6",
        "type": "worldmap in",
        "z": "639e38bd.df8b18",
        "name": "",
        "path": "/worldmapTtn",
        "events": "connect",
        "x": 1650,
        "y": 560,
        "wires": [
            [
                "44cf6101.ddbb5",
                "50152399.98de3c"
            ]
        ]
    },
    {
        "id": "a9c198d3.6a4d48",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "Temp store Map points and Table data",
        "func": "flow.set(\"gateway\",msg.payload)\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2090,
        "y": 660,
        "wires": [
            [
                "c3f5f05e.33084"
            ]
        ]
    },
    {
        "id": "44cf6101.ddbb5",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "Click away or redeploy - Create Map points",
        "func": "msg.payload = flow.get(\"gateway\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 560,
        "wires": [
            [
                "f32aaae8.2dc588"
            ]
        ]
    },
    {
        "id": "c3f5f05e.33084",
        "type": "debug",
        "z": "639e38bd.df8b18",
        "name": "flow.set(\"gateway\")",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2150,
        "y": 720,
        "wires": []
    },
    {
        "id": "f32aaae8.2dc588",
        "type": "split",
        "z": "639e38bd.df8b18",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 2410,
        "y": 560,
        "wires": [
            [
                "5ce04955.344ec8",
                "bad32914.5e04b8"
            ]
        ]
    },
    {
        "id": "bad32914.5e04b8",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "Click away or redeploy - Create table",
        "func": "let id = msg.payload.name\nlet lat = msg.payload.latitude\nlet lon = msg.payload.longitude\nlet rxRate = msg.payload.rxRate\nlet txRate = msg.payload.txRate\nlet online = msg.payload.online\nlet eui = msg.payload.eui\nlet updatedAt = msg.payload.updatedAt;\n\nif (!rxRate) rxRate = 0\n\nif(typeof txRate === \"undefined\"){\n    txRate = 0\n}\n\nmsg.payload = { \"name\":id, \"eui\":eui, \"latitude\":lat, \"longitude\":lon, \"rxRate\":rxRate, \"txRate\":txRate, \"updatedAt\":updatedAt, \"online\":online}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 420,
        "wires": [
            [
                "84832d41.8dac7"
            ]
        ]
    },
    {
        "id": "719a1a71.55e094",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "rad4",
        "func": "let lat = msg.payload.latitude\nlet lon = msg.payload.longitude\nlet name = msg.payload.name\nrad =  flow.get(\"rad4\")\nname = rad + \"k \" + name\n\nmsg = {}\n\n\n\n\nmsg.payload =  {\n    \"name\": name,\n    \"lat\": lat,\n    \"lon\": lon,\n    \"radius\": flow.get(\"rad4\") * 1000,\n    \"layer\": \"gateway \" + rad + \"k\",\n    \"fillColor\": '#0000ff',\n    \"stroke\": false,\n    \"fillOpacity\": 0.1,\n    \"clickable\": true\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 1140,
        "wires": [
            [
                "df404a32.e01768"
            ]
        ]
    },
    {
        "id": "d61a343a.d0ab88",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "rad3",
        "func": "let lat = msg.payload.latitude\nlet lon = msg.payload.longitude\nlet name = msg.payload.name\nrad =  flow.get(\"rad3\")\nname = rad + \"k \" + name\n\nmsg = {}\n\n\n\n\nmsg.payload =  {\n    \"name\": name,\n    \"lat\": lat,\n    \"lon\": lon,\n    \"radius\": flow.get(\"rad3\") * 1000,\n    \"layer\": \"gateway \" + rad + \"k\",\n    \"fillColor\": '#0000ff',\n    \"stroke\": false,\n    \"fillOpacity\": 0.1,\n    \"clickable\": true\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 1100,
        "wires": [
            [
                "df404a32.e01768"
            ]
        ]
    },
    {
        "id": "1ced0b77.be0085",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "rad2",
        "func": "let lat = msg.payload.latitude\nlet lon = msg.payload.longitude\nlet name = msg.payload.name\nrad =  flow.get(\"rad2\")\nname = rad + \"k \" + name\n\nmsg = {}\n\n\n\n\nmsg.payload =  {\n    \"name\": name,\n    \"lat\": lat,\n    \"lon\": lon,\n    \"radius\": flow.get(\"rad2\") * 1000,\n    \"layer\": \"gateway \" + rad + \"k\",\n    \"fillColor\": '#0000ff',\n    \"stroke\": false,\n    \"fillOpacity\": 0.1,\n    \"clickable\": true\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 1060,
        "wires": [
            [
                "df404a32.e01768"
            ]
        ]
    },
    {
        "id": "6f7a634b.aaf88c",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "rad1",
        "func": "let lat = msg.payload.latitude\nlet lon = msg.payload.longitude\nlet name = msg.payload.name\nrad =  flow.get(\"rad1\")\nname = rad + \"k \" + name\n\nmsg = {}\n\n\n\n\nmsg.payload =  {\n    \"name\": name,\n    \"lat\": lat,\n    \"lon\": lon,\n    \"radius\": flow.get(\"rad1\") * 1000,\n    \"layer\": \"gateway \" + rad + \"k\",\n    \"fillColor\": '#0000ff',\n    \"stroke\": false,\n    \"fillOpacity\": 0.1,\n    \"clickable\": true\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 1020,
        "wires": [
            [
                "df404a32.e01768",
                "5a210376.e4c7bc"
            ]
        ]
    },
    {
        "id": "de5a295b.bc9738",
        "type": "ui_text_input",
        "z": "639e38bd.df8b18",
        "name": "",
        "label": "Latitude dec",
        "tooltip": "",
        "group": "f1408aea.5db028",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 1520,
        "wires": [
            [
                "251a84bb.40028c",
                "4d8d320b.7b7e4c",
                "c73f03ce.bb2ee"
            ]
        ]
    },
    {
        "id": "7a127b96.eabfc4",
        "type": "ui_text_input",
        "z": "639e38bd.df8b18",
        "name": "",
        "label": "Longitude dec",
        "tooltip": "",
        "group": "f1408aea.5db028",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 1560,
        "wires": [
            [
                "6df3171f.29c3d8",
                "4d8d320b.7b7e4c",
                "c73f03ce.bb2ee"
            ]
        ]
    },
    {
        "id": "426023cd.0de64c",
        "type": "change",
        "z": "639e38bd.df8b18",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "newLat",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1520,
        "wires": [
            [
                "190c70a9.5f231f"
            ]
        ]
    },
    {
        "id": "418c16f4.bb18e8",
        "type": "change",
        "z": "639e38bd.df8b18",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "newLon",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1560,
        "wires": [
            [
                "190c70a9.5f231f"
            ]
        ]
    },
    {
        "id": "e72431c9.a8e5f",
        "type": "inject",
        "z": "639e38bd.df8b18",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "52.3676",
        "payloadType": "num",
        "x": 240,
        "y": 1520,
        "wires": [
            [
                "de5a295b.bc9738"
            ]
        ]
    },
    {
        "id": "aa147019.cdf42",
        "type": "inject",
        "z": "639e38bd.df8b18",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "4.9041",
        "payloadType": "num",
        "x": 240,
        "y": 1560,
        "wires": [
            [
                "7a127b96.eabfc4"
            ]
        ]
    },
    {
        "id": "190c70a9.5f231f",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "plot node",
        "func": "\n\nmsg.payload = { \n                \"name\":\"New Node\",\n                \"lat\":flow.get(\"newLat\"),\n                \"lon\":flow.get(\"newLon\"),\n                \"iconColor\":'black',\n                \"layer\": \"new node\"\n                }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1480,
        "wires": [
            [
                "cc2dc558.9c5c38"
            ]
        ]
    },
    {
        "id": "8bbc4a71.bc6a48",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "nodeDist",
        "func": "msg.payload =  {\n                \"name\":flow.get(\"nodeDist\") + \" New Node\",\n                \"lat\":flow.get(\"newLat\"),\n                \"lon\":flow.get(\"newLon\"),\n                \"radius\":flow.get(\"nodeDist\"),\n                \"layer\": \"new node\" + flow.get(\"nodeDist\"),\n                \"fillColor\": 'black',\n                \"stroke\": false,\n                \"fillOpacity\": 0.3,\n                \"clickable\": true\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1400,
        "wires": [
            [
                "cc2dc558.9c5c38"
            ]
        ]
    },
    {
        "id": "d88e5694.a3bc08",
        "type": "ui_text_input",
        "z": "639e38bd.df8b18",
        "name": "",
        "label": "Distance KM",
        "tooltip": "",
        "group": "829a976f.0871c8",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "7a7327f.56a0ad8"
            ]
        ]
    },
    {
        "id": "e0065b66.88d5f8",
        "type": "change",
        "z": "639e38bd.df8b18",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "dist",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "7a7327f.56a0ad8",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "",
        "func": "msg.payload = msg.payload * 1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 260,
        "wires": [
            [
                "e0065b66.88d5f8"
            ]
        ]
    },
    {
        "id": "60b8830e.d27afc",
        "type": "inject",
        "z": "639e38bd.df8b18",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "7.5",
        "payloadType": "num",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "d88e5694.a3bc08"
            ]
        ]
    },
    {
        "id": "cfe81152.1f3f5",
        "type": "comment",
        "z": "639e38bd.df8b18",
        "name": "New Node to plot",
        "info": "",
        "x": 200,
        "y": 1300,
        "wires": []
    },
    {
        "id": "e8743c8e.617e5",
        "type": "ui_text_input",
        "z": "639e38bd.df8b18",
        "name": "",
        "label": "Radius 1",
        "tooltip": "",
        "group": "9e16ccc6.a044d",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 840,
        "wires": [
            [
                "ae11874e.422ce8",
                "a05c7a41.118e88"
            ]
        ]
    },
    {
        "id": "f00319af.4e4be8",
        "type": "ui_text_input",
        "z": "639e38bd.df8b18",
        "name": "",
        "label": "Radius 2",
        "tooltip": "",
        "group": "9e16ccc6.a044d",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 880,
        "wires": [
            [
                "22c72059.f2ed9",
                "25ea7903.f97536"
            ]
        ]
    },
    {
        "id": "aac3dd65.bf24a",
        "type": "ui_text_input",
        "z": "639e38bd.df8b18",
        "name": "",
        "label": "Radius 3",
        "tooltip": "",
        "group": "9e16ccc6.a044d",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 920,
        "wires": [
            [
                "66709dd5.e688a4",
                "13a7cbe9.9e0854"
            ]
        ]
    },
    {
        "id": "bd25e1d0.0ceab",
        "type": "ui_text_input",
        "z": "639e38bd.df8b18",
        "name": "",
        "label": "Radius 4",
        "tooltip": "",
        "group": "9e16ccc6.a044d",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 960,
        "wires": [
            [
                "c215190d.82f868",
                "7248c2d1.e6014c"
            ]
        ]
    },
    {
        "id": "682cab00.2d0e64",
        "type": "join",
        "z": "639e38bd.df8b18",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "3",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2270,
        "y": 400,
        "wires": [
            [
                "96160a86.a84048"
            ]
        ]
    },
    {
        "id": "96160a86.a84048",
        "type": "ui_table",
        "z": "639e38bd.df8b18",
        "group": "e3693505.5042c8",
        "name": "Offline",
        "order": 1,
        "width": "16",
        "height": 3,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 2410,
        "y": 400,
        "wires": [
            [
                "dfedc58f.ea09c8",
                "65bd2ae8.d84a74"
            ]
        ]
    },
    {
        "id": "8e1f38e0.bdb008",
        "type": "switch",
        "z": "639e38bd.df8b18",
        "name": "",
        "property": "payload.online",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2150,
        "y": 380,
        "wires": [
            [
                "5eee5b4b.1755b4"
            ],
            [
                "682cab00.2d0e64"
            ]
        ]
    },
    {
        "id": "dfedc58f.ea09c8",
        "type": "debug",
        "z": "639e38bd.df8b18",
        "name": "Table Online",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2590,
        "y": 380,
        "wires": []
    },
    {
        "id": "cc23993b.d67598",
        "type": "change",
        "z": "639e38bd.df8b18",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "rad1",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1020,
        "wires": [
            [
                "b4653954.43fc18"
            ]
        ]
    },
    {
        "id": "937d0901.d33bb8",
        "type": "change",
        "z": "639e38bd.df8b18",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "rad2",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1060,
        "wires": [
            [
                "b4653954.43fc18"
            ]
        ]
    },
    {
        "id": "42b2a23c.95886c",
        "type": "change",
        "z": "639e38bd.df8b18",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "rad3",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1100,
        "wires": [
            [
                "b4653954.43fc18"
            ]
        ]
    },
    {
        "id": "5f2ba51e.69a1fc",
        "type": "change",
        "z": "639e38bd.df8b18",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "rad4",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1140,
        "wires": [
            [
                "b4653954.43fc18"
            ]
        ]
    },
    {
        "id": "b4653954.43fc18",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "Click away or redeploy - Create Map points",
        "func": "msg.payload = flow.get(\"gateway\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1020,
        "wires": [
            [
                "28b12988.d6cf56"
            ]
        ]
    },
    {
        "id": "28b12988.d6cf56",
        "type": "split",
        "z": "639e38bd.df8b18",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1390,
        "y": 1020,
        "wires": [
            [
                "6f7a634b.aaf88c",
                "1ced0b77.be0085",
                "d61a343a.d0ab88",
                "719a1a71.55e094"
            ]
        ]
    },
    {
        "id": "a8b5e669.1abbc8",
        "type": "debug",
        "z": "639e38bd.df8b18",
        "name": "rad To Map",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 790,
        "y": 840,
        "wires": []
    },
    {
        "id": "a05c7a41.118e88",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "delete rad1",
        "func": "rad =  flow.get(\"rad1\")\n\nlayer = \"gateway \" + rad + \"k\"\n\nmsg.payload = {\"command\":{\"clear\":layer}}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 840,
        "wires": [
            [
                "a8b5e669.1abbc8",
                "bf59fa52.7b08f8"
            ]
        ]
    },
    {
        "id": "ae11874e.422ce8",
        "type": "delay",
        "z": "639e38bd.df8b18",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 590,
        "y": 1020,
        "wires": [
            [
                "cc23993b.d67598"
            ]
        ]
    },
    {
        "id": "22c72059.f2ed9",
        "type": "delay",
        "z": "639e38bd.df8b18",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 590,
        "y": 1060,
        "wires": [
            [
                "937d0901.d33bb8"
            ]
        ]
    },
    {
        "id": "66709dd5.e688a4",
        "type": "delay",
        "z": "639e38bd.df8b18",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 590,
        "y": 1100,
        "wires": [
            [
                "42b2a23c.95886c"
            ]
        ]
    },
    {
        "id": "c215190d.82f868",
        "type": "delay",
        "z": "639e38bd.df8b18",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 590,
        "y": 1140,
        "wires": [
            [
                "5f2ba51e.69a1fc"
            ]
        ]
    },
    {
        "id": "25ea7903.f97536",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "delete rad2",
        "func": "rad =  flow.get(\"rad2\")\n\nlayer = \"gateway \" + rad + \"k\"\n\nmsg.payload = {\"command\":{\"clear\":layer}}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 880,
        "wires": [
            [
                "bf59fa52.7b08f8"
            ]
        ]
    },
    {
        "id": "13a7cbe9.9e0854",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "delete rad3",
        "func": "rad =  flow.get(\"rad3\")\n\nlayer = \"gateway \" + rad + \"k\"\n\nmsg.payload = {\"command\":{\"clear\":layer}}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 920,
        "wires": [
            [
                "bf59fa52.7b08f8"
            ]
        ]
    },
    {
        "id": "7248c2d1.e6014c",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "delete rad4",
        "func": "rad =  flow.get(\"rad4\")\n\nlayer = \"gateway \" + rad + \"k\"\n\nmsg.payload = {\"command\":{\"clear\":layer}}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 960,
        "wires": [
            [
                "bf59fa52.7b08f8"
            ]
        ]
    },
    {
        "id": "da68c5e3.9a3d48",
        "type": "delay",
        "z": "639e38bd.df8b18",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "7a265fd3.b1311"
            ]
        ]
    },
    {
        "id": "ef02f88e.565438",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "Clear gateway",
        "func": "\nmsg.payload = {\"command\":{\"clear\": \"gateway\"}}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 300,
        "wires": [
            [
                "bf1ceb59.23be78"
            ]
        ]
    },
    {
        "id": "79467898.df7878",
        "type": "link in",
        "z": "639e38bd.df8b18",
        "name": "",
        "links": [
            "bf59fa52.7b08f8",
            "df404a32.e01768",
            "cc2dc558.9c5c38",
            "bf1ceb59.23be78"
        ],
        "x": 2555,
        "y": 700,
        "wires": [
            [
                "5ce04955.344ec8"
            ]
        ]
    },
    {
        "id": "bf59fa52.7b08f8",
        "type": "link out",
        "z": "639e38bd.df8b18",
        "name": "",
        "links": [
            "79467898.df7878"
        ],
        "x": 715,
        "y": 900,
        "wires": []
    },
    {
        "id": "df404a32.e01768",
        "type": "link out",
        "z": "639e38bd.df8b18",
        "name": "",
        "links": [
            "79467898.df7878"
        ],
        "x": 1695,
        "y": 1080,
        "wires": []
    },
    {
        "id": "cc2dc558.9c5c38",
        "type": "link out",
        "z": "639e38bd.df8b18",
        "name": "",
        "links": [
            "79467898.df7878"
        ],
        "x": 1355,
        "y": 1440,
        "wires": []
    },
    {
        "id": "bf1ceb59.23be78",
        "type": "link out",
        "z": "639e38bd.df8b18",
        "name": "",
        "links": [
            "79467898.df7878",
            "282d0551.ef5daa"
        ],
        "x": 755,
        "y": 300,
        "wires": []
    },
    {
        "id": "bf8a0f99.b6a64",
        "type": "comment",
        "z": "639e38bd.df8b18",
        "name": "Raduis around gateway",
        "info": "",
        "x": 220,
        "y": 740,
        "wires": []
    },
    {
        "id": "c7a2398e.a21818",
        "type": "inject",
        "z": "639e38bd.df8b18",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 230,
        "y": 860,
        "wires": [
            [
                "e8743c8e.617e5",
                "f00319af.4e4be8",
                "aac3dd65.bf24a",
                "bd25e1d0.0ceab"
            ]
        ]
    },
    {
        "id": "251a84bb.40028c",
        "type": "delay",
        "z": "639e38bd.df8b18",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 590,
        "y": 1520,
        "wires": [
            [
                "426023cd.0de64c",
                "8bbc4a71.bc6a48",
                "9c4a880b.988ef8"
            ]
        ]
    },
    {
        "id": "6df3171f.29c3d8",
        "type": "delay",
        "z": "639e38bd.df8b18",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 590,
        "y": 1560,
        "wires": [
            [
                "418c16f4.bb18e8",
                "8bbc4a71.bc6a48",
                "9c4a880b.988ef8"
            ]
        ]
    },
    {
        "id": "4d8d320b.7b7e4c",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "delete node",
        "func": "\nmsg.payload = {\"command\":{\"clear\":\"new node\"}}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1460,
        "wires": [
            [
                "cc2dc558.9c5c38"
            ]
        ]
    },
    {
        "id": "c73f03ce.bb2ee",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "delete rad1",
        "func": "rad =  flow.get(\"nodeDist\")\n\nlayer = \"new node\" + rad\n\nmsg.payload = {\"command\":{\"clear\":layer}}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1420,
        "wires": [
            [
                "cc2dc558.9c5c38"
            ]
        ]
    },
    {
        "id": "ec47cccd.ff28f",
        "type": "delay",
        "z": "639e38bd.df8b18",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 590,
        "y": 1360,
        "wires": [
            [
                "d7ac1bcc.54b8a8",
                "190c70a9.5f231f"
            ]
        ]
    },
    {
        "id": "6ce14c8f.c64ac4",
        "type": "ui_button",
        "z": "639e38bd.df8b18",
        "name": "",
        "group": "f1408aea.5db028",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "delete",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 1440,
        "wires": [
            [
                "c73f03ce.bb2ee",
                "4d8d320b.7b7e4c"
            ]
        ]
    },
    {
        "id": "282d0551.ef5daa",
        "type": "link in",
        "z": "639e38bd.df8b18",
        "name": "",
        "links": [
            "bf1ceb59.23be78",
            "23cf74ce.e26f7c"
        ],
        "x": 415,
        "y": 800,
        "wires": [
            [
                "a05c7a41.118e88",
                "25ea7903.f97536",
                "13a7cbe9.9e0854",
                "7248c2d1.e6014c"
            ]
        ]
    },
    {
        "id": "23cf74ce.e26f7c",
        "type": "link out",
        "z": "639e38bd.df8b18",
        "name": "",
        "links": [
            "282d0551.ef5daa"
        ],
        "x": 535,
        "y": 1200,
        "wires": []
    },
    {
        "id": "bca0996e.c93978",
        "type": "link in",
        "z": "639e38bd.df8b18",
        "name": "",
        "links": [
            "50152399.98de3c"
        ],
        "x": 735,
        "y": 960,
        "wires": [
            [
                "20c18d80.3b9cf2"
            ]
        ]
    },
    {
        "id": "20c18d80.3b9cf2",
        "type": "delay",
        "z": "639e38bd.df8b18",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 840,
        "y": 960,
        "wires": [
            [
                "b4653954.43fc18"
            ]
        ]
    },
    {
        "id": "50152399.98de3c",
        "type": "link out",
        "z": "639e38bd.df8b18",
        "name": "",
        "links": [
            "bca0996e.c93978",
            "47c685b6.371d2c"
        ],
        "x": 1775,
        "y": 520,
        "wires": []
    },
    {
        "id": "41b70263.8572ec",
        "type": "ui_button",
        "z": "639e38bd.df8b18",
        "name": "",
        "group": "9e16ccc6.a044d",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Clear Radius",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 1200,
        "wires": [
            [
                "23cf74ce.e26f7c"
            ]
        ]
    },
    {
        "id": "65bd2ae8.d84a74",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "Zoom to gateway",
        "func": "let id = msg.payload.name\nlet lat = msg.payload.latitude\nlet lon = msg.payload.longitude\nlet rxRate = msg.payload.rxRate\nlet txRate = msg.payload.txRate\nlet online = msg.payload.online\nlet eui = msg.payload.eui\n\nif (online == true) {\n    color = \"#0000ff\";\n}else{\n    color = \"#ff0000\";\n}\n\n\nmsg.payload = { \"name\":id, \"eui\":eui, \"latitude\":lat, \"longitude\":lon, \"rxRate\":rxRate, \"txRate\":txRate, \"online\":online, \"iconColor\":color, \"updatedAt\": msg.payload.updatedAt,  \"layer\": \"gateway\" }\n\n\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2610,
        "y": 460,
        "wires": [
            [
                "5ce04955.344ec8",
                "2a6100ac.bd95e"
            ]
        ]
    },
    {
        "id": "84832d41.8dac7",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "Delete Parts",
        "func": "msg.payload = msg.payload\ndelete msg.parts\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2010,
        "y": 380,
        "wires": [
            [
                "8e1f38e0.bdb008"
            ]
        ]
    },
    {
        "id": "5a210376.e4c7bc",
        "type": "debug",
        "z": "639e38bd.df8b18",
        "name": "Rad",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1750,
        "y": 1020,
        "wires": []
    },
    {
        "id": "9a4c1e8a.4273d",
        "type": "ui_template",
        "z": "639e38bd.df8b18",
        "group": "714ea33c.60cedc",
        "name": "SF",
        "order": 1,
        "width": "36",
        "height": 14,
        "format": "<iframe src=\"https://avbentem.github.io/airtime-calculator/ttn/eu868/1\" width=\"1890\" height=\"1100\" frameborder=\"1\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 210,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "eacb2e55.61dc4",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "prepare to/from coords",
        "func": "var from = {\n    lat: flow.get(\"newLat\"),\n    lon: flow.get(\"newLon\"),\n    elv: 0,\n}\n\nvar to = {\n    lat: msg.payload.latitude,\n    lon: msg.payload.longitude,\n    elv: 0,\n}\nmsg.gateway = msg.payload;\n\nmsg.payload = {\n    from: from,\n    to: to\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1780,
        "wires": [
            [
                "523d4846.224478"
            ]
        ]
    },
    {
        "id": "523d4846.224478",
        "type": "function",
        "z": "639e38bd.df8b18",
        "name": "calculate distance between 2 coords",
        "func": "//Credit: https://javascript.plainenglish.io/calculating-azimuth-distance-and-altitude-from-a-pair-of-gps-locations-36b4325d8ab0\n\nfunction ParseAngle(ang, limit) {\n    var angle = parseFloat(ang);\n    if (isNaN(angle) || (angle < -limit) || (angle > limit)) {\n        node.error(\"Invalid angle value.\", msg);\n        return null;\n    } else {\n        return angle;\n    }\n}\n\nfunction ParseElevation(el) {\n    var angle = parseFloat(el);\n    if (isNaN(angle)) {\n        node.error(\"Invalid elevation value.\", msg);\n        return null;\n    } else {\n        return angle;\n    }\n}\n\nfunction ParseLocation(pos) {\n    var lat = ParseAngle(pos.lat, 90.0);\n    var location = null;\n    if (lat != null) {\n        var lon = ParseAngle(pos.lon, 180.0);\n        if (lon != null) {\n            var elv = ParseElevation(pos.elv);\n            if (elv != null) {\n                location = { lat: lat, lon: lon, elv: elv };\n            }\n        }\n    }\n    return location;\n}\n\nfunction EarthRadiusInMeters(latitudeRadians) {\n    // latitudeRadians is geodetic, i.e. that reported by GPS.\n    // http://en.wikipedia.org/wiki/Earth_radius\n    var a = 6378137.0;  // equatorial radius in meters\n    var b = 6356752.3;  // polar radius in meters\n    var cos = Math.cos(latitudeRadians);\n    var sin = Math.sin(latitudeRadians);\n    var t1 = a * a * cos;\n    var t2 = b * b * sin;\n    var t3 = a * cos;\n    var t4 = b * sin;\n    return Math.sqrt((t1 * t1 + t2 * t2) / (t3 * t3 + t4 * t4));\n}\n\nfunction GeocentricLatitude(lat) {\n    // Convert geodetic latitude 'lat' to a geocentric latitude 'clat'.\n    // Geodetic latitude is the latitude as given by GPS.\n    // Geocentric latitude is the angle measured from center of Earth between a point and the equator.\n    // https://en.wikipedia.org/wiki/Latitude#Geocentric_latitude\n    var e2 = 0.00669437999014;\n    var clat = Math.atan((1.0 - e2) * Math.tan(lat));\n    return clat;\n}\n\nfunction LocationToPoint(c) {\n    // Convert (lat, lon, elv) to (x, y, z).\n    var lat = c.lat * Math.PI / 180.0;\n    var lon = c.lon * Math.PI / 180.0;\n    var radius = EarthRadiusInMeters(lat);\n    var clat = GeocentricLatitude(lat);\n\n    var cosLon = Math.cos(lon);\n    var sinLon = Math.sin(lon);\n    var cosLat = Math.cos(clat);\n    var sinLat = Math.sin(clat);\n    var x = radius * cosLon * cosLat;\n    var y = radius * sinLon * cosLat;\n    var z = radius * sinLat;\n\n    // We used geocentric latitude to calculate (x,y,z) on the Earth's ellipsoid.\n    // Now we use geodetic latitude to calculate normal vector from the surface, to correct for elevation.\n    var cosGlat = Math.cos(lat);\n    var sinGlat = Math.sin(lat);\n\n    var nx = cosGlat * cosLon;\n    var ny = cosGlat * sinLon;\n    var nz = sinGlat;\n\n    x += c.elv * nx;\n    y += c.elv * ny;\n    z += c.elv * nz;\n\n    return { x: x, y: y, z: z, radius: radius, nx: nx, ny: ny, nz: nz };\n}\n\nfunction Distance(ap, bp) {\n    var dx = ap.x - bp.x;\n    var dy = ap.y - bp.y;\n    var dz = ap.z - bp.z;\n    return Math.sqrt(dx * dx + dy * dy + dz * dz);\n}\n\nfunction RotateGlobe(b, a, bradius, aradius) {\n    // Get modified coordinates of 'b' by rotating the globe so that 'a' is at lat=0, lon=0.\n    var br = { lat: b.lat, lon: (b.lon - a.lon), elv: b.elv };\n    var brp = LocationToPoint(br);\n\n    // Rotate brp cartesian coordinates around the z-axis by a.lon degrees,\n    // then around the y-axis by a.lat degrees.\n    // Though we are decreasing by a.lat degrees, as seen above the y-axis,\n    // this is a positive (counterclockwise) rotation (if B's longitude is east of A's).\n    // However, from this point of view the x-axis is pointing left.\n    // So we will look the other way making the x-axis pointing right, the z-axis\n    // pointing up, and the rotation treated as negative.\n\n    var alat = GeocentricLatitude(-a.lat * Math.PI / 180.0);\n    var acos = Math.cos(alat);\n    var asin = Math.sin(alat);\n\n    var bx = (brp.x * acos) - (brp.z * asin);\n    var by = brp.y;\n    var bz = (brp.x * asin) + (brp.z * acos);\n\n    return { x: bx, y: by, z: bz, radius: bradius };\n}\n\nfunction NormalizeVectorDiff(b, a) {\n    // Calculate norm(b-a), where norm divides a vector by its length to produce a unit vector.\n    var dx = b.x - a.x;\n    var dy = b.y - a.y;\n    var dz = b.z - a.z;\n    var dist2 = dx * dx + dy * dy + dz * dz;\n    if (dist2 == 0) {\n        return null;\n    }\n    var dist = Math.sqrt(dist2);\n    return { x: (dx / dist), y: (dy / dist), z: (dz / dist), radius: 1.0 };\n}\n\nfunction Calculate(pos1, pos2) {\n   \n    var result = {\n        from: pos1,\n        to: pos2,\n    };\n\n    var a = ParseLocation(pos1);\n    if (a != null) {\n        var b = ParseLocation(pos2);\n        if (b != null) {\n            var ap = LocationToPoint(a);\n            var bp = LocationToPoint(b);\n            var distKm = 0.001 * Distance(ap, bp);\n            distKm = Math.round(distKm * 100)/100;\n            result.distanceKm = distKm;\n\n            // Let's use a trick to calculate azimuth:\n            // Rotate the globe so that point A looks like latitude 0, longitude 0.\n            // We keep the actual radii calculated based on the oblate geoid,\n            // but use angles based on subtraction.\n            // Point A will be at x=radius, y=0, z=0.\n            // Vector difference B-A will have dz = N/S component, dy = E/W component.\n            var br = RotateGlobe(b, a, bp.radius, ap.radius);\n            if (br.z * br.z + br.y * br.y > 1.0e-6) {\n                var theta = Math.atan2(br.z, br.y) * 180.0 / Math.PI;\n                var azimuth = 90.0 - theta;\n                if (azimuth < 0.0) {\n                    azimuth += 360.0;\n                }\n                if (azimuth > 360.0) {\n                    azimuth -= 360.0;\n                }\n                azimuth = Math.round(azimuth * 100)/100;\n                result.azimuth = azimuth;\n                \n            }\n\n            var bma = NormalizeVectorDiff(bp, ap);\n            if (bma != null) {\n                // Calculate altitude, which is the angle above the horizon of B as seen from A.\n                // Almost always, B will actually be below the horizon, so the altitude will be negative.\n                // The dot product of bma and norm = cos(zenith_angle), and zenith_angle = (90 deg) - altitude.\n                // So altitude = 90 - acos(dotprod).\n                var altitude = 90.0 - (180.0 / Math.PI) * Math.acos(bma.x * ap.nx + bma.y * ap.ny + bma.z * ap.nz);\n                result.altitude = altitude;\n            }\n        }\n    }\n    return result;\n}\nmsg.payload = Calculate(msg.payload.from, msg.payload.to);\n//msg.payload.cal.distKm = Calculate(flow.get(\"distKm\"));\n//msg.payload.cal.azimuth = Calculate(flow.get(\"azimuth\"));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1800,
        "wires": [
            [
                "b3b84c08.4fe9f",
                "f9eb0b58.31bda8"
            ]
        ]
    },
    {
        "id": "5b159fc8.6c35d",
        "type": "comment",
        "z": "639e38bd.df8b18",
        "name": "Node to gateways",
        "info": "",
        "x": 230,
        "y": 1660,
        "wires": []
    },
    {
        "id": "dae105a7.b8cc38",
        "type": "inject",
        "z": "639e38bd.df8b18",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2170,
        "y": 220,
        "wires": [
            [
                "30721c67.acfdc4"
            ]
        ]
    },
    {
        "id": "9203e228.5c6d3",
        "type": "link in",
        "z": "639e38bd.df8b18",
        "name": "",
        "links": [
            "25ba24db.8c13ec"
        ],
        "x": 2515,
        "y": 520,
        "wires": [
            [
                "65bd2ae8.d84a74"
            ]
        ]
    },
    {
        "id": "25ba24db.8c13ec",
        "type": "link out",
        "z": "639e38bd.df8b18",
        "name": "",
        "links": [
            "9203e228.5c6d3"
        ],
        "x": 1775,
        "y": 1800,
        "wires": []
    },
    {
        "id": "b3b84c08.4fe9f",
        "type": "debug",
        "z": "639e38bd.df8b18",
        "name": "Node to gatways",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1030,
        "y": 1720,
        "wires": []
    },
    {
        "id": "577c6383.a5048c",
        "type": "split",
        "z": "639e38bd.df8b18",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 1780,
        "wires": [
            [
                "eacb2e55.61dc4"
            ]
        ]
    },
    {
        "id": "2d12ff94.8031d",
        "type": "join",
        "z": "639e38bd.df8b18",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "3",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1390,
        "y": 1800,
        "wires": [
            [
                "b4c2579d.a52b08",
                "c9b47dc2.afb7e"
            ]
        ]
    },
    {
        "id": "b4c2579d.a52b08",
        "type": "ui_table",
        "z": "639e38bd.df8b18",
        "group": "8c12a2a7.c7948",
        "name": "Distance Node to Gateways",
        "order": 1,
        "width": "16",
        "height": 3,
        "columns": [
            {
                "field": "name",
                "title": "name",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "eui",
                "title": "eui",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "distanceKm",
                "title": "daistance Km",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "azimuth",
                "title": "azimuth",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "latitude",
                "title": "latitude",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "longitude",
                "title": "longitude",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "rxRate",
                "title": "rxRate",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "txRate",
                "title": "txRate",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "online",
                "title": "online",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "updatedAt",
                "title": "updatedAt",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 1600,
        "y": 1800,
        "wires": [
            [
                "25ba24db.8c13ec",
                "8679cf6c.c6c9f"
            ]
        ]
    },
    {
        "id": "9c4a880b.988ef8",
        "type": "change",
        "z": "639e38bd.df8b18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "gateway",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1780,
        "wires": [
            [
                "577c6383.a5048c"
            ]
        ]
    },
    {
        "id": "c9b47dc2.afb7e",
        "type": "debug",
        "z": "639e38bd.df8b18",
        "name": "Node to gatways Table",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1280,
        "y": 1880,
        "wires": []
    },
    {
        "id": "f9eb0b58.31bda8",
        "type": "change",
        "z": "639e38bd.df8b18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "gateway.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.eui",
                "pt": "msg",
                "to": "gateway.eui",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.latitude",
                "pt": "msg",
                "to": "gateway.latitude",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.longitude",
                "pt": "msg",
                "to": "gateway.longitude",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.rxRate",
                "pt": "msg",
                "to": "gateway.rxRate",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.txRate",
                "pt": "msg",
                "to": "gateway.txRate",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.online",
                "pt": "msg",
                "to": "gateway.online",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.updatedAt",
                "pt": "msg",
                "to": "gateway.updatedAt",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "gateway",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.from",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.to",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 1800,
        "wires": [
            [
                "2d12ff94.8031d"
            ]
        ]
    },
    {
        "id": "8679cf6c.c6c9f",
        "type": "debug",
        "z": "639e38bd.df8b18",
        "name": "Node to gatways Table 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1910,
        "y": 1540,
        "wires": []
    },
    {
        "id": "2a6100ac.bd95e",
        "type": "debug",
        "z": "639e38bd.df8b18",
        "name": "Node to gatways Table 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2870,
        "y": 420,
        "wires": []
    },
    {
        "id": "2183131c.15929c",
        "type": "ui_template",
        "z": "639e38bd.df8b18",
        "group": "714ea33c.60cedc",
        "name": "status.thethings.network",
        "order": 2,
        "width": "36",
        "height": 14,
        "format": "<iframe src=\"https://status.thethings.network/\" width=\"1890\" height=\"1100\" frameborder=\"1\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 270,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "ff7957e9.3709e8",
        "type": "inject",
        "z": "639e38bd.df8b18",
        "name": "",
        "props": [
            {
                "p": "topic",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "x": 230,
        "y": 1480,
        "wires": [
            [
                "190c70a9.5f231f"
            ]
        ]
    },
    {
        "id": "dc2d6605.d26df8",
        "type": "comment",
        "z": "639e38bd.df8b18",
        "name": "https://avbentem.github.io/airtime-calculator/ttn/eu868/10",
        "info": "",
        "x": 370,
        "y": 1940,
        "wires": []
    },
    {
        "id": "4154dcc4.c0a484",
        "type": "comment",
        "z": "639e38bd.df8b18",
        "name": "The Things Network Status Page",
        "info": "",
        "x": 290,
        "y": 2060,
        "wires": []
    },
    {
        "id": "47c685b6.371d2c",
        "type": "link in",
        "z": "639e38bd.df8b18",
        "name": "",
        "links": [
            "50152399.98de3c"
        ],
        "x": 195,
        "y": 1620,
        "wires": [
            [
                "cb9f8d9a.500fd"
            ]
        ]
    },
    {
        "id": "cb9f8d9a.500fd",
        "type": "change",
        "z": "639e38bd.df8b18",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "newLon",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1620,
        "wires": [
            [
                "6df3171f.29c3d8"
            ]
        ]
    },
    {
        "id": "829a976f.0871c8",
        "type": "ui_group",
        "name": "Gateway within Radius",
        "tab": "e2c0cf21.db2a3",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "f1408aea.5db028",
        "type": "ui_group",
        "name": "Plot New Node",
        "tab": "e2c0cf21.db2a3",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "98369fc.752c86",
        "type": "ui_group",
        "name": "Gateway Map",
        "tab": "e2c0cf21.db2a3",
        "order": 4,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "258ccba7.6eda14",
        "type": "ui_group",
        "name": "Gateway Status Online",
        "tab": "e2c0cf21.db2a3",
        "order": 7,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "cb67b9a1.c42a18",
        "type": "ui_group",
        "name": "TTN Gateway map",
        "tab": "6bf50ff0.5f5d2",
        "order": 4,
        "disp": true,
        "width": "38",
        "collapse": false
    },
    {
        "id": "9e16ccc6.a044d",
        "type": "ui_group",
        "name": "Radius around Gateway",
        "tab": "e2c0cf21.db2a3",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "e3693505.5042c8",
        "type": "ui_group",
        "name": "Gateway Status Offline",
        "tab": "e2c0cf21.db2a3",
        "order": 6,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "714ea33c.60cedc",
        "type": "ui_group",
        "name": "SF Calculator",
        "tab": "e2c0cf21.db2a3",
        "order": 8,
        "disp": true,
        "width": "36",
        "collapse": false
    },
    {
        "id": "8c12a2a7.c7948",
        "type": "ui_group",
        "name": "Distance Node to Gateway",
        "tab": "e2c0cf21.db2a3",
        "order": 5,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "e2c0cf21.db2a3",
        "type": "ui_tab",
        "name": "The Things Gateway Radius",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6bf50ff0.5f5d2",
        "type": "ui_tab",
        "name": "TTN Map",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
